# New CSV file creating and inserting data init

In [72]:
import csv
with open("intro.csv","w",newline="") as f:# w create new file
    data_handler = csv.writer(f,delimiter=",")
    data_handler.writerow(["Name","Grade","Roll number"])
    data_handler.writerow(["zaid","A","1"])
    data_handler.writerow(["umair","B","2"])
    data_handler.writerow(["sohaib","A","3"])

# Show Data

In [73]:
import pandas as pd
from pandas import DataFrame , Series
#using pandas library to show csv file

In [74]:
data=pd.read_csv("intro.csv")

In [75]:
data

     Name Grade  Roll number
0    zaid     A            1
1   umair     B            2
2  sohaib     A            3

# Appending Data

In [76]:
with open("intro.csv","a",newline="") as f: # using a to append data in file
    data_handler=csv.writer(f,delimiter=",")
    data_handler.writerow(["muneeb","A+","4"])

# Again Showing Data

In [77]:
data=pd.read_csv("intro.csv")
data

     Name Grade  Roll number
0    zaid     A            1
1   umair     B            2
2  sohaib     A            3
3  muneeb    A+            4

# Searching

In [78]:
data[(data.Name=="muneeb")]

     Name Grade  Roll number
3  muneeb    A+            4

In [79]:
data[(data["Roll number"]==2)]

    Name Grade  Roll number
1  umair     B            2